.container {
    position: relative;
    height: 667px;
    background: #f3f3f3 url(../images/img-02-model.png) no-repeat bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-maintext-02 {
    padding-top: 71px;
    text-align: center;
}
.page-maintext-02 p:nth-of-type(1){
    font-size: 93px;
    font-family: 'Savoye LET', serif;
    line-height: 67.5px;
    color: #E5D3C2;
}
.page-maintext-02 p:nth-of-type(2){
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #EFDECC;
    margin-top: 30px;
}


.email-container{
    margin-top: 45px;
}
.pw-container {
	margin-top: 15px;
}
fieldset{
    border: 0;
}
input{
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #3a3a3a;
    color: #EFDECC;
    height: 31px;
    width: 210px;
}
input[id="email"] {
	text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro',sans-serif;
}
input[id="password"] {
	text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro',sans-serif;
}
.forgotpw{
    margin-top: 15px;
}
.forgotpw a{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #B4B4B4;
    text-decoration: none;
}
.forgotpw a:hover{
    color: #fff;
}
/* sign-buttons */
.sign-buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 513px;
}
.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 41.5px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 14.5px;
    background-color: transparent;
}
.sign-in-facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 41.5px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    background: #2553B3;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.16);
    font-size: 15px;
    box-sizing: border-box;
    
}
.sign-in a{
    box-sizing: border-box;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
}
.sign-in:hover{
    background-color: rgba(0,0,0,0.3);
}
.sign-in:hover a{
    color: #bbb;
}

.sign-in-facebook a{
    box-sizing: border-box;
    padding: 5px 25px;
    color: #fff;
    text-decoration: none;
}
.sign-in-facebook:hover{
    background-color: #214694;
}
.sign-in-facebook:hover a{
    color: #bbb;
}