/*기본값*/
body{
    margin: 0;
    background-color: #333;
}
button,li,ul,a{
    margin: 0;
    padding: 0;
}

/* 폰트 */
html{
    font-size:  10px;
    line-height: 1.2;
    color: #222222;
    font-family: sans-serif;
}
/* 레이아웃 */

.Wrapper{
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: auto;
    display: flex;
    flex-direction:column;
}
.Shopping-pages{
    display: flex;
    flex-direction: column;
}
.Info-pages{
    display: flex;
    flex-direction: row;
    
}

.Header{
    width: 960px;
    height: 80px;
    background-color: #fff; 
}
.Slider{
    width: 960px;
    height: 480px;
}
.Banners{
    width: 960px;
    height: 240px;
}

.Blog{
    width: 960px;
    height: 240px;
}
.Testimonials{
    width: 480px;
    height: 480px;
}
.About{
    width: 480px;
    height: 480px;
}
.Brands{
    width: 960px;
    height: 120px;
}
.Footer{
    width: 960px;
    height: 180px;
}

.Wrapper.Grid:before{
    content: '';
    position: absolute;
	background-image: linear-gradient(180deg, transparent 9px, #7400ff 9px), linear-gradient(90deg, hsla(237, 100%, 66%, 0.3), hsla(239, 100%, 79%, 0.3));
    background-size: 1px 10px, 120px 1px;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    background-blend-mode: overlay;
    z-index: 5;
    opacity: .5;
}
